<div *ngIf="tabNames | async as tabNames">
    <!--To set this tabs component, you should pass tha names and items into it-->
    <app-tabs
            [tabNames]="tabNames"
            [items]="currentConditionsByZip()">
        <app-tab *ngFor="let tabName of tabNames" [tabName]="tabName">
            <!--You can pass anything here, I just pass the populated app card here -->
            <app-card *ngIf="entityService.entity | async as item"
                      (click)="weatherService.showForecast(item.zip)">
                <div details>
                    <h3>{{ item.data.name}} ({{ item.zip}})</h3>
                    <h4>Current conditions: {{ item.data.weather[0].main}}</h4>
                    <h4>Temperatures today:</h4>
                    <p>
                        Current {{ item.data.main.temp | number:'.0-0'}}
                        - Max {{ item.data.main.temp_max | number:'.0-0'}}
                        - Min {{ item.data.main.temp_min | number:'.0-0'}}
                    </p>
                    <p>
                        <a [routerLink]="['/forecast', item.zip]" >Show 5-day forecast for {{ item.data.name}}</a>
                    </p>
                </div>
                <div image>
                    <span class="close" (click)="removeLocation(entityService.index.getValue())">&times;</span>
                    <img [src]="weatherService.getWeatherIcon(item.data.weather[0].id)">
                </div>
            </app-card>
        </app-tab>
    </app-tabs>
</div>
